/*Imported from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Days+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*General styling rules*/
h1,h2,h3,#navlinks,#menu,alt {
    font-family: "Days One";
    color: antiquewhite;
}

.linkcolor {
    color: antiquewhite;
}

p {
    font-family: 'Battambang';
    color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    background-color: rgb(197, 50, 50);
    margin-bottom: 0;
}

.infotitle {
    text-align: center;
}

/*Navbar style rules*/
#title {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

nav {
    position: relative;
    display: none;
}

#navbar {
    display: none;
}

#navbar:checked~nav {
    display: block;
}

#navlinks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}


/*Main content general rules*/
main {
    background-color: black;
}

footer {
    padding: 0px;
}

/*Home page rules*/
#hero {
    height: 160px;
    width: 320px;
    padding-top: 15px;
}

#herobox {
    display: flex;
    justify-content: center;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#crown {
    height: 150px;
    width: 250px;
}

#why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#curtains {
    height: 150px;
    width: 250px;
}

/*Classes page rules*/
#masks {
    height: 150px;
    width: 300px;
}

#classinfo {
    display: flex;
    flex-direction: column;
}

#maskbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

td,
th {
    font-family: 'Battambang';
    color: antiquewhite;
}

.tablehead {
    font-weight: 1000;
}

#quarterlies {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.quarterly-info {
    border: 2px solid antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quarterpic {
    height: 150px;
    width: 250px;
    padding-bottom: 10px;
}

/*Sign up page styles*/
#join {
    display: flex;
    justify-content: center;
}

#join-h2 {
    display: flex;
    justify-content: center;
}

.formclass {
    font-family: 'Battambang';
    color: antiquewhite;
}

#office {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


#office-h2 {
    display: flex;
    justify-content: center;
}

#map {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

/*Footer styling rules*/
footer {
    background-color: rgb(197, 50, 50);
}

#socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}

.sociallink {
    font-size: 200%;
}

.socialcolor {
    color: antiquewhite;
}

/*Media query for tablets and larger devices*/
@media screen and (min-width: 768px) {

    /*Navbar*/
    nav {
        display: block;
    }

    #navbar {
        display: none;
    }

    #menu {
        display: none;
    }

    #hero {
        width: 672px;
        height: 350px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #crown {
        width: 576px;
        height: 300px;
        padding-bottom: 10px;
    }

    #masks {
        width: 576px;
        height: 300px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #curtains {
        width: 576px;
        height: 300px;
        padding-top: 10px;
    }

    .quarterpic {
        height: 150px;
        width: 250px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #join, #contactmap{
        height: 50vh;
    }
}



