/*Imported from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Days+One&display=swap');

*{
    padding:0;
    margin:0;
}

/*General styling rules*/
h1, h2, h3, #navlinks, #menu, alt {
    font-family: "Days One";
    color:antiquewhite;
}

.linkcolor{
    color:antiquewhite;
}

p{
    font-family:'Battambang';
    color:antiquewhite;
}

header{
    background-color:rgb(197, 50, 50);
    margin-bottom: 0;
}

.infotitle{
    text-align: center;
}

/*Navbar style rules*/
nav{
    position:relative;
    display:none; 
}

#navbar{
    display:none;
}

#navbar:checked~nav{
    display:block;
}

#navlinks{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}


/*Main content style rules*/
main{
    background-color: black;
}
 footer{
   padding: 0px;
}

#about{
    display:flex;
    flex-direction: column;
}

#hero{
    height: 150px;
    width: 250px;
}

#herobox{
    display:flex;
    justify-content: center;
}

#crown{
    height: 150px;
    width: 250px;
}

#curtains{
    height: 150px;
    width: 250px;
}

/*Classes page rules*/
#masks{
    height:150px;
    width:275px;
}

td, th{
    font-family:'Battambang';
    color:antiquewhite;
}

.tablehead{
    font-weight: 1000;
}

#quarterlies{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.infoborder{
    border: 2px solid antiquewhite;
    border-radius: 10px;
}

#soundboard{
    height: 150px;
    width: 250px;
}

#musical{
    height: 150px;
    width: 250px;
}

#combat{
    height: 150px;
    width: 250px;
}

/*Sign up page styles*/
#join{
    display: flex;
    justify-content: center;
}

#join-h2{
    display: flex;
    justify-content: center;
}

.formclass{
    font-family: 'Battambang';
    color:antiquewhite;
}

#office{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}


#office-h2{
    display: flex;
    justify-content: center;
}

#map{
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

/*Footer styling rules*/
footer{
    background-color:rgb(197, 50, 50);
}

#socials{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.sociallink{
    font-size: 200%;
}

.socialcolor{
    color:antiquewhite;
}


/*Media query for tablets and larger devices*/
@media screen and (min-width: 768px) {
 /*Navbar*/
    nav {
        display:block;
    }

    #navbar{
        display: none;
    }

    #menu{
        display:none;
    }

    /*Main content*/
    #hero{
        width: 768px;
        height: 400px;
    }
    
    #herobox{
        display:flex;
        justify-content: center;
    }

    #about{
        display:flex;
        flex-direction: row;
    }

    #about-info{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 1250px;
    }

    #curtains{
        width: 768px;
        height: 400px;
    }

    #crown{
        width: 768px;
        height: 400px;
    }

    #why-us{
        display:flex;
    }

    #why-us-info{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 1250px;
    }

    /*Classes rules*/

    table{
        width: 500px;
        height: 150px;
        padding-top: 65px; 
    }

    #quarterlies{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #classinfo{
        display:flex;
        justify-content: space-evenly;
    }

    #masks{
        width: 768px;
        height: 400px;
    }

    #soundboard{
        width:500px;
        height:250px;
    }

    #musical{
        width:500px;
        height:250px;
    }

    #combat{
        width:500px;
        height:250px;
    }

    /*Signup page*/
    #join{
        display: flex;
        justify-content: center;
        height: 55vh;
    }

    #contactmap{
        display:flex;
        justify-content: space-evenly;
    }
    
    #map{
        width:75%;
    }

    #office{
        width:25%;
    }
}