/*Imported from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Days+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

/*General styling rules*/
header {
    background-color: rgb(197, 50, 50);
    margin-bottom: 0;
}

h1,h2,h3,#navlinks,#menu{
    font-family: "Days One";
    color: antiquewhite;
}

.linkcolor {
    color: antiquewhite;
}

p {
    font-family: 'Battambang';
    color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
}

img{
    color:antiquewhite;
}

main {
    background-color: black;
}

/*Navbar style rules*/
#title {
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
}

nav {
    position: relative;
    display: none;
}

#navbar {
    display: none;
}

#navbar:checked~nav {
    display: block;
}

#navlinks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

/*Footer styling rules*/
footer {
    background-color: rgb(197, 50, 50);
}

#socials {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
}

.sociallink {
    font-size: 200%;
}

.socialcolor {
    color: antiquewhite;
}

/*Home page rules*/
#hero {
    height: 160px;
    width: 320px;
    padding-top: 15px;
}

#herobox {
    display: flex;
    justify-content: center;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#crown {
    height: 150px;
    width: 250px;
}

.infotitle {
    text-align: center;
}

#why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

#curtains {
    height: 150px;
    width: 250px;
}

/*Classes page rules*/
#classinfo {
    display: flex;
    flex-direction: column;
}

.tablehead {
    font-weight: 1000;
}

table {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

td,
th {
    font-family: 'Battambang';
    color: antiquewhite;
}

#picbox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#whitedress {
    height: 384px;
    width: 200px;
}

#quarterlies {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.quarterly-info {
    border: 2px solid antiquewhite;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quarterpic {
    height: 150px;
    width: 250px;
    padding-bottom: 10px;
}

/*Sign up page styles*/
#join-h2 {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

#join {
    display: flex;
    justify-content: center;
    margin-top:10vh;
    margin-bottom:10vh;
}

.formclass {
    font-family: 'Battambang';
    color: antiquewhite;
}

#office {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#office-h2 {
    display: flex;
    justify-content: center;
}

#map {
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

/*Media query for tablets*/
@media screen and (min-width: 768px) {

    /*Navbar*/
    nav {
        display: block;
    }

    #navbar {
        display: none;
    }

    #menu {
        display: none;
    }

    /*Home page rules*/
    #hero {
        width: 672px;
        height: 350px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #crown {
        width: 576px;
        height: 300px;
        padding-bottom: 10px;
    }

    #curtains {
        width: 576px;
        height: 300px;
        padding-top: 10px;
    }

    /*Classes page rules*/
    #whitedress {
        width: 300px;
        height: 576px;
        padding-right: 10px;
        padding-bottom: 10px;
    }

    #quarterlies{
        align-items: center;
    }

    .quarterly-info{
        width: 50vw;
    }

    .quarterpic {
        height: 150px;
        width: 250px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

}

/*Media query for laptops and larger devices*/
@media screen and (min-width: 1024px){
    /*Navbar*/
    nav {
        display: block;
    }

    #navbar {
        display: none;
    }

    #menu {
        display: none;
    }

    /*Home page rules*/
    #hero {
        width: 864px;
        height: 450px;
        padding-left: 10px;
        padding-right: 10px;
    }

    #about{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    #crown {
        width: 672px;
        height: 350px;
        padding-bottom: 10px;
    }

    #why-us{
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    #curtains {
        width: 672px;
        height: 350px;
        padding-bottom: 10px;
    }

    /*Classes page rules*/
    #classes{
        display:flex;
        flex-direction: column;
        align-items: center;
    }

    #classinfo{
        display:flex;
        flex-direction: row;
        align-items: center;
    }

    table{
        height:150px;
    }
}
