/*Imported from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Days+One&display=swap');

*{
    padding:0;
    margin:0;
}

/*General styling rules*/
h1, h2, h3, #navlinks, #menu {
    font-family: "Days One";
    color:antiquewhite;
}

p, td{
    font-family:'Battambang';
    color:antiquewhite;
}

header{
    background-color:rgb(197, 50, 50);
    margin-bottom: 0;
}

/*Navbar style rules*/
nav{
    position:relative;
    display:none; 
}

#navbar{
    display:none;
}

#navbar:checked~nav{
    display:block;
}

#navlinks{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}


/*Main content style rules*/
main{
    background-color: black;
}
 footer{
   padding: 0px;
}

#about{
    display:flex;
    flex-direction: column;
}

#whitedress{
    height: 400px;
    width: 250px;
}

#curtains{
    height: 150px;
    width: 250px;
}

/*Classes page rules*/
#masks{
    height:150px;
    width:275px;
}

/*Sign up page styles*/
#join{
    display: flex;
    justify-content: center;
}

#join-h2{
    display: flex;
    justify-content: center;
}

.formclass{
    font-family: 'Battambang';
    color:antiquewhite;
}

/*Footer styling rules*/
footer{
    background-color:rgb(197, 50, 50);
}

#socials{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.sociallink{
    font-size: 200%;
}

.socialcolor{
    color:antiquewhite;
}


/*Navbar media query for tablets and larger devices*/
@media screen and (min-width: 768px) {
 /*Navbar*/
    nav {
        display:block;
    }

    #navbar{
        display: none;
    }

    #menu{
        display:none;
    }

    /*Main content*/
    #about{
        display:flex;
        flex-direction: row;
    }

    #about-info{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 1250px;
    }

    #curtains{
        height:300px;
        width:500px;
    }

    #why-us{
        display:flex;
    }

    #why-us-info{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        max-width: 1250px;
    }

    /*Classes rules*/

    table{
        width: 500px;
        height: 150px;
        padding-top: 65px; 
    }

    #classinfo{
        display:flex;
        justify-content: space-evenly;
    }

    #masks{
        height: 250px;
        width:500px;
    }

    /*Signup page*/
    #join{
        display: flex;
        justify-content: center;
        height: 75vh;
    }