/*Imported from Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Battambang:wght@100;300;400;700;900&family=Days+One&display=swap');

/*General styling rules*/
h1, h2, h3, #navlinks {
    font-family: "Days One";
    color:antiquewhite;
}

p, td{
    font-family:'Battambang';
    color:antiquewhite;
}

header{
    background-color: aqua;
}

/*Navbar style rules*/
/*The navbar itself*/
nav{
    position:relative;
    display:none; 
}

/*navbar display ids*/
#navbar{
    display:none;
}

#navbar:checked~nav{
    display:block;
}

/*The list of links in the navbar*/
#navlinks{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


/*Main content style rules*/
main{
    background-color: black;
}

#about{
    display:flex;
    justify-content:right;
}

#whitedress{
    max-height: 200px;
    max-width: 100px;
}

#why-us{
    display:flex;
    justify-content: space-between;
}

#curtains{
    max-height: 200px;
    max-width: 100px;
}

/*Sign up page styles*/

#join{
    display: flex;
    justify-content: center;
}

#join-h2{
    display: flex;
    justify-content: center;
}

.formclass{
    font-family: 'Battambang';
    color:antiquewhite;
}

/*Footer styling rules*/
footer{
    background-color:rgb(197, 50, 50);
}

#socials{
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.sociallink{
    font-size: 200%;
    
}

.socialcolor{
    color:antiquewhite;
}


/*Navbar media query for tablets and larger devices*/
@media screen and (min-width: 768px) {
 /*Navbar*/
    nav {
        display:block;
    }

    #navbar{
        display: none;
    }

    #menu{
        display:none;
    }

